table,
td {
    border: 1px solid blue;
    font-size: 1.5em;
}

th{
    font-size: 2em;
    background-color: #333;
    color: white;
}

td{
    color: orange;
}

tr{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2.5px;
    grid-gap: 5px;
}