h1 {
    color: rgb(126, 209, 248);
	-webkit-text-stroke: 1px #000;
	font-size: 3em;
}

h2 {
    color: rgb(116, 245, 223);
	-webkit-text-stroke: 1px #000;
	font-size: 2em;
}

h3 {
    background-color:rgb(253, 255, 154);
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	padding: 10px;
	flex-direction: row;
}

div#zentai > div {
	padding: 5px;
	background-color: #ffffff;
    border: 5px solid rgb(34, 81, 236);
}
